@using LibraryData;
@model CharacterModel 

@{
    Layout = @"~\Views\Shared\_Layout.cshtml";
}

<style>
    .statbox {
        font-size:25px;
    }
</style>

@using (Html.BeginForm("Update", "Characters", FormMethod.Post))
{
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" style="border-right:2px solid;">
                    @Html.Partial("StatsSidebar")
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("Info")
                </div>
            </div>
        </div>
    </div> 
</div>
}