@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("CharacterScreen","Home", new { id = 3 })">foo</a>
        </div>
    </div>
</div>

